/* //////////////// // ---------------------------------------------------------------------------------
// MAIN APP STYLES //
// ////////////// */

html, body{
  height: 100vh;
  margin: 0;
}

.App {
  margin: 0px;
  padding: 0px;
  background-color: #131922;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #282828;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #343434;
}

/* //////////////// // -------------------------------------------------------------------------------
// TOOL BAR STYLES //
// ///////////// */
.ToolView{
  flex: 0 1 30px;
}
.ToolItem{
  margin: 5px;
  float: left;
  background-color: transparent;
  border: none;
  color: white;
}
.ToolItem:hover{
  background-color: #9090ff31;
}
.ToolItem:active{
  background-color: #9090ff48;
}
.ToolFileItemWrapper{
  font-size: 11px;
  padding-block: 1px;
  padding-inline: 6px;
}
.ToolFileItemText{
  padding: 0px;
  margin: 0px;
}
.ToolFileItem{
  display: none;
}
.ToolText{
  font-size: 11px;
  margin-top: 7px;
  vertical-align: middle;
  float: left;
  background-color: transparent;
  color: white;
}
.ToolInput{
  margin: 5px;
  float: left;
  background-color: transparent;
  color: white;
  border: 1px solid rgb(180, 180, 180);
}

/* ///////////////// // -------------------------------------------------------------------------------
// FILE LIST STYLES //
// /////////////// */
.FileView{
  flex: 0 1 18px;
}
.FileViewSeparator{
  border: 0;
  border-bottom: 1px solid #2f313f;
  height: 1px;
  margin: 5px 0px 0px 0px;
  padding: 0px;
  width: 100vw;
}



/* //////////////////// // -------------------------------------------------------------------------------
// CONTENT VIEW STYLES //
// ////////////////// */
.App .ContentView{
  flex: 1 1 auto;
  background-color: #0d1216;
  font-family: monospace;
  display: flex;
  flex-direction: row;
  Overflow: hidden;
}
.App .Footer {
  flex: 0 1 18px;
  background-color: #282e36;
}
.OffsetView{
  margin: 0px 10px 0px 10px;
  font-size: 16px;
  flex: 0 1 auto;
  color: #3c4453;
}
.DataWrapper{
  flex: 1 1 auto;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.DataView{
  display: inline-block;
  font-size: 16px;
  color: #20c2df;
}
.DataSpan{
  display: block;
}
.ScrollView{
  position: relative;
  flex: 0 0 auto;
  width: 20px;
  background-color: rgba(32, 32, 36, 0.226);
}
.ScrollThumb{
  position: absolute;
  top: 25px;
  bottom: 25px;
  width: 100%;
  background-color: rgb(50, 62, 80);
}

.resizable-content { 
  flex: 0 1 auto;
  min-height: 30px; 
  min-width: 30px; 
  resize: both; 
  overflow: auto; 
  max-height: fit-content; 
  max-width: fit-content; 
}

/* ////////////// // --------------------------------------------------------------------------------
// UNUSED STYLES // 
// //////////// */
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
