/* //////////////// // ---------------------------------------------------------------------------------
// MAIN APP STYLES //
// ////////////// */

html, body{
  height: 100vh;
  margin: 0;
}

.App {
  margin: 0px;
  padding: 0px;
  background-color: #010409;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* //////////////// // -------------------------------------------------------------------------------
// TOOL BAR STYLES //
// ///////////// */
.ToolView{
  flex: 0 1 30px;
}
.ToolItem{
  margin: 5px;
  float: left;
  background-color: transparent;
  border: none;
  color: white;
}
.ToolItem:hover{
  background-color: #9090ff15;
}
.ToolItem:active{
  background-color: #9090ff35;
}
.ToolFileItemWrapper{
  font-size: 11px;
  padding-block: 1px;
  padding-inline: 6px;
}
.ToolFileItemText{
  padding: 0px;
  margin: 0px;
}
.ToolFileItem{
  display: none;
}

/* ///////////////// // -------------------------------------------------------------------------------
// FILE LIST STYLES //
// /////////////// */
.FileView{
  flex: 0 1 18px;
}
.FileViewSeparator{
  border: 0;
  border-bottom: 1px solid #21262d;
  height: 1px;
  margin: 5px 0px 0px 0px;
  padding: 0px;
  width: 100vw;
}



/* //////////////////// // -------------------------------------------------------------------------------
// CONTENT VIEW STYLES //
// ////////////////// */
.App .ContentView{
  flex: 1 1 auto;
  background-color: #0d1117;
  font-family: monospace;
  display: flex;
  flex-direction: row;
  Overflow: hidden;
}
.App .Footer {
  flex: 0 1 18px;
  background-color: #384153;
}
.OffsetView{
  margin: 0px 10px 0px 10px;
  font-size: 16px;
  flex: 0 1 auto;
  color: #db2100;
}
.DataWrapper{
  flex: 1 1 auto;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.DataView{
  display: inline-block;
  font-size: 16px;
  color: #00dbbe;
}
.DataSpan{
  display: block;
}
.ScrollView{
  flex: 0 1 auto;
  width: 20px;
  background-color: rgb(28, 28, 32);
}

.resizable-content { 
  flex: 0 1 auto;
  min-height: 30px; 
  min-width: 30px; 
  resize: both; 
  overflow: auto; 
  max-height: fit-content; 
  max-width: fit-content; 
}

/* ////////////// // --------------------------------------------------------------------------------
// UNUSED STYLES // 
// //////////// */
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
